fastapi
uvicorn
motor
pymongo
bson
python-multipart
pytz
whisper
shutilwhich  # required by whisper sometimes
requests
google-generativeai
python-docx
Pillow
pytesseract
PyMuPDF
sentence-transformers
numpy